<form>
    <div>
        <label for="id">Id</label>
        <input [(ngModel)]="persona.id" type="number" id="id" name="id" readonly />
    </div>
    <div>
        <label for="nombre">Nombre</label>
        <input [(ngModel)]="persona.nombre" type="text" id="nombre" name="nombre" />
    </div>
    <div>
        <label for="email">Email</label>
        <input [(ngModel)]="persona.email" type="email" id="email" name="email" />
    </div>
    <div>
        <label></label>
        <button (click)="onAceptar()">Aceptar</button>
        <button routerLink="/listado">Cancelar</button>
    </div>
</form>
