<form>
    <div>
        <label for="id">Id</label>
        <input type="number" id="id" name="id" readonly />
    </div>
    <div>
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" name="nombre" readonly />
    </div>
    <div>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" readonly />
    </div>
    <div>
        <label></label>
        <button>Aceptar</button>
        <button routerLink="/listado">Cancelar</button>
    </div>
</form>
