<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let persona of personas">
            <td>{{persona.id}}</td>
            <td>{{persona.nombre}}</td>
            <td>{{persona.email}}</td>
            <td>
                <a routerLink="/persona/{{persona.id}}">Editar</a>
                <a (click)="onBorrar(persona.id)">Borrar</a>
            </td>
        </tr>
    </tbody>
</table>

<a routerLink="/persona">Añadir</a>
